<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragment/head :: head"></head>
<body>
<div class="container">
    <div th:replace="fragment/navbar :: navbar"></div>

    <div class="jumbotron">
        <h1>Hello,</h1>
        <p>
            <a class="btn btn-primary btn-lg" th:href="@{'/register'}" role="button">register</a>
            <a class="btn btn-primary btn-lg" th:href="@{'/login'}" role="button">log in</a>
        </p>
    </div>

    <div th:replace="fragment/footer :: footer"></div>
</div>
</body>
</html>