<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div th:fragment="footer">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script th:src="@{${cdnUrl}+'/js/bootstrap/bootstrap.min.js'}"></script>
    <script th:src="@{${cdnUrl}+'/js/jquery.form.js'}"></script>
    <script th:src="@{${cdnUrl}+'/js/jquery.contextMenu.js'}"></script>
    <script th:src="@{${cdnUrl}+'/js/utils.js'}"></script>
    <script th:src="@{${cdnUrl}+'/js/custom.js'}"></script>
</div>
</body>
</html>