<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <title>CloudHosting</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link type="text/css" th:href="@{${cdnUrl}+'/css/bootstrap/bootstrap.min.css'}" rel="stylesheet"/>
    <link type="text/css" th:href="@{${cdnUrl}+'/css/jquery.contextMenu.css'}" rel="stylesheet"/>
    <link type="text/css" th:href="@{${cdnUrl}+'/css/custom.css'}" rel="stylesheet"/>
    <script>
        var messages = {};
        var config = {};
    </script>
</head>
<body>
</body>
</html>